body{
    font-family: 'Poppins', sans-serif;
    background-color: #DEEDE0;
}
.custom-nav{
    background-color: #7EB685;
    border-radius: 5px;

}
.navbar-nav{
padding:10px 20px;
}
.nav-item a{
    padding: 0 15px !important;
    font-size: 20px;
    color: white !important;
    border-right: 2px solid white;


}

.smooth-scroll{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    animation: food 1s;
}
@keyframes food {
    from{
        top: -150px;
    }
    to{
        top: 0;
    }
}
.c-b-n{
    border-right: none !important;
}

.sign-up{
    background-color: #7EB685;
    padding: 10px 20px;
    border-radius: 45px;
}
.sign-up a{
    text-decoration: none;
    color: white;
    text-align: center;
}
/* banner area starts form here */
.banner-main-text h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 90px;
    font-style: normal;


}
.banner-text{
    color: #4a8251;

}
.banner-btn a{
    color: white;
    text-decoration: none;
    background-color: #4a8251;
    padding: 10px 30px;
    border-radius: 45px;
    display: inline-block;

}
.client-img{
    width: 146px;
    height: 63px;

}